name: ML Pipeline with DVC

on: [push]

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run DVC pipeline
        run: |
          dvc repro

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: model-and-metrics
          path: |
            model.pkl
            metrics.txt
